<html>
  <head>
    <title>Modifie un potin</title>
  </head>
  <body>
    <h1>Modifie un potin !</h1>
    <a href="/">Retour</a>
    <form action='/gossips/:id/edit/' method='POST'>
    <p>
      Modifie ici l'auteur :  <input type='text' name='gossip_author'/><br/>
      Modifie le potin : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </p>
    </form>
  </body>
</html>